body {
	background-image: url("space_back.png");
	font: 18px bold arial, sans-serif;
	font-weight: bold;
	background-color: 
}

#generic-button,
#get-topic {
	font: 18px bold arial, sans-serif;
	font-weight: bold;
	background-color: #B0C4DE;
	padding: 10px;
	border-radius: 6px;
	margin: 16px 16px 16px 0px;
}

p {
	color: white;
}
